.pantry-item {
  /* Flex */
  display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
  /* Positioning & Sizing */
	position: relative;
	height: 60px;
	width: 50px;
	/* Styling */
	background-color: #f3f8fd;
  border-right: 3px solid #e3ecf6;
  border-bottom: 3px solid #e3ecf6;
  border-left: 3px solid #e3ecf6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  box-shadow: inset -6px -7px 19px #dcf6fcad, 0px 1px 11px 2px #f7d3c3;

}

.pantry-item-top {
  /* Flex */
  display: flex;
	justify-content: center;
	flex-flow:column nowrap;
	align-content: center;
	align-items: center;
  /* Positioning & Sizing */
  height: 8px;
	width: 39px;
	position: absolute;
	top: -7px;
  /* Styling */
	background-color: #f3f8fd;
  border-right: 3px solid #e3ecf6;
  border-left: 3px solid #e3ecf6;
}

.pantry-item-top:before {
	content: '';
  /* Positioning and Sizing */
	height: 5px;
	min-width: 40px;
	position: relative;
	top: -4px;
  /* Styling */
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #efb032;
	border-bottom: 2px solid #dba02c;
}


@media (min-width: 768px) {
	.pantry-item {
		height: 55px;
		width: 45px;
	}

	.pantry-item-top {
		height: 7px;
		width: 36px;
	}

	.pantry-item-top:before {
		min-height: 5px;
		min-width: 38px;
	}
}
