.pantry-item {
  /* Flex */
  display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
  /* Positioning & Sizing */
	position: relative;
	height: 60px;
	width: 50px;
	/* Styling */
	background-color: #f3f8fd;
  border-right: 3px solid #e3ecf6;
  border-bottom: 3px solid #e3ecf6;
  border-left: 3px solid #e3ecf6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  box-shadow: inset -6px -7px 19px #dcf6fcad, 0px 1px 11px 2px #f7d3c3;

}

.pantry-item-top {
  /* Flex */
  display: flex;
  justify-content: center;
  flex-flow:column nowrap;
  align-content: center;
  align-items: center;
  /* Positioning & Sizing */
  height: 8px;
  width: 39px;
  position: absolute;
  top: -5px;
  /* Styling */
  box-shadow: inset -2px 6px 5px 0px #e4eaf2;
  background-color: #f3f8fd;
  border-right: 1px solid #e3ecf6;
  border-left: 1px solid #e3ecf6;
}

.pantry-item-top:before {
	content: '';
  /* Positioning and Sizing */
	height: 5px;
	min-width: 40px;
	position: relative;
	top: -4px;
  /* Styling */
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #efb032;
	border-bottom: 2px solid #dba02c;
}

/*  */

.wood-pegs {
display:flex;
flex-flow:row wrap;
justify-content: space-evenly;

}
.wood-peg-left, .wood-peg-right {
  height: 30px;
  width: 30px;
  background-color: #fedcbe;
  clip-path: polygon(100% 100%, 64% 100%, 42% 0, 100% 0);
  box-shadow: inset -2px -1px 0px 0px #efb0334d;
  border-top: 3px solid #d59e58;
}

.wood-peg-left {
  transform: rotateY(180deg);
}



@media (min-width: 768px) {
	.pantry-item {
		height: 55px;
		width: 45px;
	}

	.pantry-item-top {
		height: 7px;
		width: 36px;
	}

	.pantry-item-top:before {
		min-height: 5px;
		min-width: 38px;
	}
}
