.pantry-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	/* Styling */
	background-color: #f3f8fd;
	border-right-color: #e3ecf6;
	border-right-style: solid;
	border-right-width: 3px;
	border-bottom-color: #e3ecf6;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-color: #e3ecf6;
	border-left-style: solid;
	border-left-width: 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 50px;
	width: 40px;
  box-shadow: inset -6px -7px 19px #dcf6fcad;
}

.pantry-item-top {
	height: 4px;
	width: 36px;
	position: absolute;
	top: -2px;
	background-color: #f3f8fd;
	border-right-color: #e3ecf6;
	border-right-style: solid;
	border-right-width: 3px;
	border-left-color: #e3ecf6;
	border-left-style: solid;
	border-left-width: 3px;
	display: flex;
	justify-content: center;
  /*  */
  flex-flow:column nowrap;
  align-content: center;
  align-items: center;
}

.pantry-item-top:before {
	content: '';
	/* display: block; */
	height: 5px;
	min-width: 36px;
	position: relative;
	top: -4px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #efb032;
	border-bottom: 2px solid #dba02c;
}


/*  */

@media (min-width: 900px) {
	.pantry-item {
		height: 55px;
		width: 45px;
	}

	.pantry-item-top {
		height: 7px;
		width: 36px;
	}

	.pantry-item-top:before {
		min-height: 5px;
		min-width: 38px;
	}
}
