/* Reset & Box Sizing */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/* Defaults  */

.btn {
	padding: 10px 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}

.btn-primary {
	background-color: #ab48f1;
	position: relative;
}

.btn-dish {
	background-color: #fbf9fc;
	position: relative;
	color: #3e1758;
	font-size: 0.9em;
	text-shadow: -1px -1px 0px #f1deff;
	margin: 0 5px;
	box-shadow: inset -6px -7px 19px #dcf6fcad, 0px 1px 11px 2px #f7d3c3;
}

.btn-dish:after {
	content: '';
	position: absolute;
	top: -8px;
	left: 45%;
	right: 45%;
	background-color: #dcb4f9;
	height: 8px;
	width: 10%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-right: 1px solid #daadfa;
	border-top: 1px solid #daadfa;
	border-left: 1px solid #daadfa;
}
.btn-dish:hover:after {
	background-color: #daa5ff;
}
.btn-dish:hover:before {
	background-color: #dcb4f9;
}

.btn-dish:before {
	content: '';
	position: absolute;
	bottom: 0;
	z-index: 9999;
	display: block;
	border: 1px solid #e9d1fa4f;
	background-color: #dcb4f9;
	height: 5px;
	width: 110%;
	left: -5%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #daaefa;
}

.btn-dish:hover {
	background-color: #ab48f1;
	color: #fff;
	text-shadow: none;
	box-shadow: inset 3px -5px 8px 0px #8f35ce;
}

/* Utilities */
.container {
	width: 100%;
	max-width: 1170px;
	/*  */
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column wrap;
	padding: 0.75em 2em;
}

.hover-primary {
	transition: all 0.15s ease;
}

.hover-primary:hover {
	transform: translateY(-5px);
	transition: all 0.15s ease;
}

/* Global */
header,
#main-content,
footer {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

/* Body */
body {
	display: flex;
	flex-flow: column nowrap;
}

body a {
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
}

/* Header Hero Section */
header {
	min-height: 100%;
	height: 100%;
	background-image: radial-gradient(
		circle at right bottom,
		#fe81471a,
		#ea9f7c29 100%
	);
	background-color: #fe81471a;
}

header:after {
	display: block;
	content: '';
	background-image: url(./assets/img/counter-small-b.jpg);
	height: 100px;
	width: 100%;
	box-shadow: 0px -50px 60px #f9ebe0;
}

/* NAVIGATION */
header .navigation {
	/* Flex Shit */
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	align-items: center;
}

header .navigation:after {
	display: block;
	content: '';
	box-shadow: 0px 6px 16px -7px rgb(19 19 19 / 21%);
	border-radius: 5px;
	height: 20px;
	width: 100%;
	/*  */
	background-color: #fec64733;
}
header .navigation nav {
	/* Flex Stuff */
	display: flex;
	justify-content: space-around;
	gap: 5px;
}

header .navigation #logo svg {
	min-width: 100%;
	width: 120px;
  /*  */
	transform: rotate(355deg);
	padding-bottom: .5em;
}

header .navigation .nav-links {
	margin-top: 0.75em;
}

header .navigation .nav-icons {
	display: none;
}

/* Nav Social Icons - Far Right  */
/* Dotted Label Styling */
.hover-primary .icon {
	width: 40px;
	height: 40px;
	background-color: #fde6db;
	padding: 5px;
	border-radius: 5px;
	border: 2px dashed #ecc689;
	stroke: #c7896b;
}

.pantry-item:hover {
	box-shadow: rgb(20 6 30 / 15%) -1px 2px 20px 0px;
}

/* On Hover Dotted Label Styling */
.hover-primary:hover .pantry-item-top:before {
	background-color: #ab48f1;
	transform: translate(0, -5px);
	border-bottom: 2px solid #7f27be;
}

.hover-primary:hover .icon {
	background-color: #ab48f126;
	border: 2px dashed #c479f882;
	stroke: #ab48f1;
}
/* On Hover Pantry Item Box Shadow  */

/* Hero Content */
header div#hero {
	min-height: 20vh;
	height: 100%;

	/* Flex Stuff */
	display: flex;
	align-items: flex-end;
	margin-top: 3em;
}

header #hero .hero-content {
	text-align: center;
}

header #hero .nav-icons {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	bottom: -4vh;
}

header #hero .hero-content h1 {
	font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
	color: #ab48f1;
	font-weight: 700;
	font-size: 3.5em;
	text-shadow: 2px 1px 1px rgb(235, 169, 111);
}
header #hero .hero-content h2 {
	font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
	color: rgb(54, 24, 60);
	font-weight: 400;
	line-height: 1.35em;
	font-size: 1.5em;
	text-shadow: 1px 1px rgb(238, 238, 238);
}

section#main-content {
  background-color:red;
	height: 100%;
}

footer {
	background-color: lightgreen;
	position: relative;
	bottom: 0;
	width: 100%;
}

@media (min-width: 768px) {
	/* Global */
	.btn {
		padding: 15px 30px;
	}

	header {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
	}

header .navigation #logo svg {
	transform: none;
    padding-bottom: 0;
}

	header .navigation:after {
		height: 30px;
	}
	header .navigation .nav-links {
		margin-top: none;
	}

	.hover-primary .icon {
		width: 35px;
		height: 35px;
	}

	header .navigation .nav-icons {
		display: flex;
	}

	header #hero .nav-icons {
		display: none;
	}

	/* Order Of Navigation Items On Mobile */
	header .navigation #logo {
		order: -2;
	}
	header .navigation .nav-links {
		order: -1;
	}
	header .navigation .nav-icons {
		order: 0;
	}

	header .navigation #logo svg {
		position: relative;
		top: 5px;
	}

	header .navigation {
		justify-content: space-between;
		align-items: flex-end;
		flex-flow: row wrap;
	}
	header .navigation nav {
		flex: 1;
		gap: 0;
	}

	header .navigation .nav-links {
		flex: 3;
	}
	/* Nav Social Icons - Far Right  */
	header .navigation .nav-icons {
		flex: 1;
	}

	header div#hero {
		align-items: center;
		min-height: 30vh;
		margin-top: 0;
	}
}

@media (min-width: 900px) {
	.btn {
		padding: 15px 50px;
	}
	.btn-dish {
		font-size: 1em;
	}
	header .navigation .nav-links {
		flex: 4;
	}
}
